$color-greenish: #4FA3A5;
$color-blueish: #63C5EA;
$color-pinkish: #FA5396;
$color-yellowish: #FCB424;

$electric-blue: #373e98;
$hot-pink: #f16775;
$shocking-yellow: #fee36e;
$chartreuse-ish: #ceb92c;
$darkest-gray: #2a2a2a;

$mapulary-orange: #f49a28;
$mapulary-text-gray: #1b2442;
$mapulary-white: #f8f6f3;

$background-whiteish: #eddac5;