@import "base.scss";

.video__container {
  background-color: $mapulary-orange;
  //padding-top: -30px;
  border-radius: 11px;
  position: fixed;
  bottom: 6%;
  $width: min(100% - 25rem, 100%);
  width: $width;
  left: calc((100% - $width) /2);
  border: solid $mapulary-orange 18px;
  box-shadow: 0 5px 0 8px $color-yellowish;
}

.video__container:active {
  box-shadow: 0 5px 0 12px $color-yellowish;
}

.video {
  position: relative;
  cursor: pointer;
  border-radius: 11px;
  display: block;
  width: 100%;
  z-index: 1;
}

.video_stopped_opacity_80 {
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
}

.video_stopped_opacity_30 {
  z-index: 100;
  filter: opacity(100%);
  -webkit-filter: opacity(30%);
}

.play_again_icon {
  width: 45%;
  height: 45%;
  display: flex;
  top: 27.5%;
  left: 27.5%;
  transform: rotate(90deg);
}

.play_triangle {
  width: 35%;
  height: 40%;
  //display: flex;
  top: 30%;
  left: 38%;
}

/*
.titles_container {
  z-index: 1000;
  display: flex;
  position: absolute;
  justify-content: center;
  height: 2.5rem;
  top:0;
  text-align: center;
}
.video_name {
  position: absolute;
  border: solid $mapulary-orange 6px;
  box-shadow: 0 2px 0 4px $color-yellowish;
  left: 10rem;
  background-color: $mapulary-orange;
  color: $mapulary-text-gray;
  font-size: 30px;
  font-family: Comfortaa, serif;
  font-weight: bold;
  width: 30rem;
  border-radius: 11px;

}

.video_source_info {
  position: absolute;
  //display: flex;
  z-index: 2;
  color: $mapulary-text-gray;
  font-size: 20px;
  font-family: Comfortaa, serif;
  //right: 0;
  width: 50%;
  text-align: right;
  top: 25%;
  text-shadow: 2px 2px $color-yellowish;
}*/

.play_button {
  cursor: pointer;
  z-index: 1000;
  top: 43%;
  left: 46%;
  width: 10vh;
  height: 10vh;
  background: radial-gradient($mapulary-orange 60%, $color-yellowish 62%);
  border-radius: 50%;
  position: absolute;
  display: flex;
  box-shadow: 0px 0px 25px 3px $color-yellowish 80%;
}

/* triangle */
.play_button::after {
  //content: "";
  //position: absolute;
  //left: 50%;
  //top: 50%;
  //-webkit-transform: translateX(-40%) translateY(-50%);
  //transform: translateX(-40%) translateY(-50%);
  //transform-origin: center center;
  //width: 0;
  //height: 0;
  //border-top: 1.9vh solid transparent;
  //border-bottom: 1.9vh solid transparent;
  //border-left: 3.2vh solid #fff;
  //z-index: 100;
  //-webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  //transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play_button:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 1vh solid $color-yellowish;
  top: -25%;
  left: -25%;
  background: $mapulary-orange 50%;
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px $color-yellowish, 0px 0px 25px 10px $color-yellowish;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px $color-yellowish 50%, 0px 0px 25px 10px $color-yellowish;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

.edu_video_info_container {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.title_text {
  color: $mapulary-text-gray;
  font-size: 2rem;
  font-family: Comfortaa, serif;

  position: relative;
  display: flex;
  justify-content: center;
}

.source_info_text {
  top: 1rem;
  color: $mapulary-text-gray;
  font-size: 1rem;
  font-family: Comfortaa, serif;

  position: relative;
  display: inline-flex;
}

.subtitles_text {
  bottom: 4.5rem;
  color: $mapulary-text-gray;
  font-size: 1.5rem;
  font-family: Comfortaa, serif;

  position: relative;
  display: flex;
  justify-content: center;
}

.switch_container {
  bottom: 7.5rem;

  position: relative;
  display: flex;
  justify-content: center;
}

.switch {
  z-index: 100;
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 40px;
}

.switch input {
  display: none;
}

.slider {
  z-index: 101;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-yellowish;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: $mapulary-orange;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: $color-yellowish;
}

input:focus+.slider {
  box-shadow: 0 0 1px #101010;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider_text_cs {
  z-index: 1;
  left: 8%;
  top:20%;
  color: $mapulary-text-gray;
  font-family: Comfortaa, serif;
  font-weight: bold;
}

.slider_text_en {
  z-index: 1;
  left: 57%;
  top:20%;
  color: $mapulary-text-gray;
  font-family: Comfortaa, serif;
  font-weight: bold;
}